<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
<style>
.error {color: #FF0000;}
</style>
</head>
<body>
	<section class="banner-login">
		 <div id="login">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                       
                        <form novalidate
                        id="login-form" class="form" th:action="@{/dologin}" action="#" method="post" th:object="${user}">
                          <div class="container text-center">	
						<img style="width: 60px;"  th:src="@{/img/loginicon.png}" alt=""/>
						</div>
                            <h3 class="text-center text-white">						
								Login</h3>
                            
                           <div th:if="${param.error}" class="alert alert-danger">
                            	Invalid username or password
                            </div>
                            
                             <div th:if="${param.logout}" class="alert alert-success">
                            	You have been logged out
                            </div>
                            
                             <div th:if="${param.change}" class="alert alert-success">
                            	<p th:text="${param.change}"></p>
                            </div>
                            
                            
                            
                            
                            <div class="form-group">
                              <!--  <label for="username" class="text-info">Username:</label><br>-->
                                 <img style="width: 35px;"  th:src="@{/img/email3.png}" alt=""/>
                                <input type="text"  th:value="${user.email}" name="username" id="username" class="form-control"
                                  th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
                                  placeholder="Enter email"> 
                                   <div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}">
                                          
                                           </div>	                                                                   
                            </div>
                          
                            
                            
                            <div class="form-group">
                              <!--  <label for="password" class="text-info">Password:</label><br>-->
                                 <img style="width: 35px;"  th:src="@{/img/password4.png}" alt=""/>
                                <input type="password" th:value="${user.password}" name="password" id="password" class="form-control"
                                  th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"
                                 placeholder="Enter password">
                                  <div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}">
                                          
                                           </div>	
                            </div>
                            
                            
                            
                            <div class="form-group text-center mt-4">
                               <!-- <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>-->
                                <input type="submit" name="submit" class="btn bg-primary text-white" value="Submit">
                                <input type="reset" class="btn btn-warning text-white ml-3" value="Reset"></input>
                            </div>
                            
                            <!--<div id="register-link" class="text-right">
                                <a href="/signup/" class="text-info">Register here</a>
                            </div>-->
                            
                            <div class="container text-center">
                            
                            
                     <!--    <a th:href="@{/forgot}" > Forgot Password ?</a>-->
                            
                            
                            </div>
                          
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
</body>
</html>